{% extends '::base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block content %}
     {{ (cont.text|raw) }}

    <h2>Форма обратной связи</h2>

    {{ form_start(form) }}
    <table cellpadding="0" cellspacing="0" width="100%" style="background-color:rgba(255,255,255,0.65)">
        <tbody>
        <tr>
            <td id="contact3">
                <p>Ваше имя: <span class="red"></span><br>{{ form_widget(form.name, {attr:{size:30}}) }}</p>
                <p>E-mail: <span class="red"></span><br>{{ form_widget(form.email, {attr:{size:30}}) }}</p>
                <p>Телефон: <span class="red"></span><br>{{ form_widget(form.phone, {attr:{size:30}}) }}</p>
            </td>
            <td id="contact3">
                <p>Ваше сообщение или вопрос: <span class="red"></span><br><br>{{ form_widget(form.text, {attr: {cols:55, rows:9}} ) }}</p>
                <p>{{ form_widget(form.submit) }}</p>
            </td>
        </tr>
        </tbody>
    </table>
   {{ form_end(form) }}

{% endblock %}